name: Build

on:
  push:

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [ windows, linux, darwin ]
        goarch: [ amd64 ]
        include:
          - goos: darwin
            goarch: arm64
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Install dependencies
        run: go install -v ./...

      - name: Test
        run: go test -v ./...

      - name: Build
        run: go build -v -o out/murphysec-${{ matrix.goos }}-${{ matrix.goarch }}

      - name: Rename for Windows
        if: matrix.goos == 'windows'
        run: mv out/murphysec-${{ matrix.goos }}-${{ matrix.goarch }} out/murphysec-${{ matrix.goos }}-${{ matrix.goarch }}.exe

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: murphysec-${{ matrix.goos }}-${{ matrix.goarch }}
          path: out/*