name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Install dependencies
        run: go install -v ./...

      - name: Build server version
        run: GOOS=linux GOARCH=amd64 go build -o murphysec-cli-embedding -tags noprint,embedding .

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: murphysec-cli-embedding.zip
          path: murphysec-cli-embedding
