name: Test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: '0'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Test
        run: go test -v ./...